.mat-expansion-panel {
  box-shadow: none !important;
}



::ng-deep .mat-list-item-content{
  padding: 0px !important;
}

.overflow{
  overflow: auto !important;
  max-height: 300px !important;
}
