<div class="text-white" dir="rtl">
<div fxFill fxLayout="row" class="landing-section vh-100" >
  <div fxFlex="70" class="dark-bg" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1 class="mat-h2">اولین سرویس جامع خدمات مهندسی و ساختمانی در مشهد</h1>
      <img src="assets/image/ratagostar.png" class="img-fluid w-25" alt="" srcset="">
      <span class="mt-3">سرویسی از شرکت</span>
      <h3>راتا گستر کوهستان</h3>
    </div>
  </div>
  <div fxFlex="30" class="primary-bg" fxLayout="row">
    <img src="assets/image/Blueprint.png" alt="" sizes="" srcset="" class="background">
    <div fxFlex="50">
        <img src="assets/image/phone.png" class="img-fluid p-5 mr-n10" alt="" srcset="">
    </div>
  </div>
</div>

<div fxFill fxLayout="row wrap" class="ourteam container vh-100" style="background-image: url('assets/image/background.jpg');">
  <div fxFlex="20">
  </div>
  <div fxFlex="25" class="mt-5 mr-5" fxLayout="column" fxLayoutAlign="center start" >
    <span class="mat-display-1 mb-2">راتاگستر</span>
    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
      چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون
      بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
      برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با
      خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این
      </p>
  </div>
</div>


<div fxFill fxLayout="row" class="landing-section" >
  <div fxFlex="70" class="blue-bg" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="28">
    </div>
    <div fxFlex="35" class="mt-5 mr-5" fxLayout="column" fxLayoutAlign="center start" >
      <span class="mat-display-1 mb-2">راتاگستر</span>
      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
        چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون
        بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
        برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با
        خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این
        </p>
    </div>
  </div>
  <div fxFlex="30" class="dark-bg container" fxLayout="row" fxLayoutAlign="space-between stretch">
    <div fxFlex="60" fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/image/mobile.png" class="img-fluid p-5 mr-n10" alt="" srcset="">
    </div>
    <div fxFlex="40" class="py-5" fxLayout="column" fxLayoutAlign="space-between stretch">
      <div class="p-2 border-left" fxLayout="column" fxLayoutAlign="center end">
        <span>تست یک</span>
        <span>یک جمله دیگر بگو</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center end">
        <span class="pb-3">aviable on:</span>
        <div fxLayout="row" fxLayoutAlign="center end">
          <img src="assets/image/browser.png" alt="" srcset="" class="ml-4 w-25 img-fluid">
          <img src="assets/image/company.png" alt="" srcset="" class="ml-4 w-25 img-fluid">
          <img src="assets/image/android.png" alt="" srcset="" class="ml-4 w-25 img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="dark-bg">
  
</div>


</div>
