$line-width: 7rem;
$marginline: 1rem;

.primary-bg {
  background-color: #fe8c00;
}

.mr-n12 {
  margin-right: -12rem;
}

.mb-6{
  margin-bottom: 6rem;
}

.mt-n6{
 margin-top: -6rem;
}

.background {
  position: absolute;
  transform: translateX(-50%) scale(.8);
  left: 0;
}

.add-button {
  color: white;
}

.ourteam {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.blue-bg {
  background-color: #0D47A1;
}

.border-right {
  border-right: #fe8c00 solid 2px;
}

.mobile{

  position: relative;
  video{
    transform: translate(9%,131%);
    width: 86%;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
  }
  img {
    left: 0;
    top: 0;
    position: absolute;
  }
}




  @media screen and (min-width: 600px) {
    .backborderHide {
    margin-right: $marginline + $line-width;
    }

    .backborder {
      &::before {
        display: inline-block;
        content: "";
        border-top: .3rem solid #FE8C00;
        width: $line-width;
        margin: 2rem 0 0 $marginline;
        transform: translateY(0rem);
      }
    }

  }
