<div class=" landing-section" dir="rtl">
  <div fxFill fxLayout="row" fxLayout.lt-md="column" class="vh-100">
    <!--ratagostar interduce section-->
    <div
      fxFlex="70"
      fxFlex.lt-md="100"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <div fxLayout="column" fxLayoutAlign="center center">
        <h1 class="mat-h2 text-center">
          اولین سرویس جامع خدمات مهندسی و ساختمانی در مشهد
        </h1>
        <img
          src="assets/image/ratagostar.png"
          class="img-fluid w-25"
          alt=""
          srcset=""
        />
        <span class="mt-3">سرویسی از شرکت</span>
        <h3>راتا گستر کوهستان</h3>
      </div>
    </div>
    <div fxFlex="30" fxHide.lt-md class="primary-bg" fxLayout="row">
      <img
        src="assets/image/Blueprint.png"
        alt=""
        sizes=""
        srcset=""
        class="background"
      />
      <div fxFlex="50">
        <img
          src="assets/image/phone.png"
          class="img-fluid p-5 mr-n10"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </div>
  <!--End ratagostar interduce section-->

  <div
    fxLayout="row wrap"
    class="ourteam vh-100"
    style="background-image: url('assets/image/background.jpg');"
    fxLayoutAlign="center center"
  >
    <!--co-worker interduce section-->
    <div fxFlex="90">
      <div fxFlex="45" fxLayout="row" fxLayoutAlign="center center">
          <div fxLayout="column" fxLayoutAlign="center start" class="mr-3">
            <span class="mat-display-1 mb-2 backborder">کارباراتا</span>
            <p class="backborderHide">
              تیم مجرب کارباراتا این افتخار را دارد تا خدماتی جامع و با کیفیت در حوزه مهندسی ساختمان ، طراحی و محاسبات سازه ، بازسازی ، دکوراسیون داخلی و خارجی و تامین نیروی متخصص ساختمانی و ... را به شما عزیزان ارائه دهد.تیم متخصص متعهد کارباراتا ، مسئولیت کامل اجرای پروژه و ارائه به موقع آن به شما را بر عهده دارد.همچنین در راستای خدمت رسانیه بهتر و شایسته تر به شما عزیزان ، مجموعه ما با ارائه مشاوره و استعلام قیمت رایگان در هر مرحله از کار ، از انجام دقیق پروژه شما مطابق با انتظارات و خواسته هایتان ، اطمینان حاصل می نماید.
            </p>
          </div>
      </div>
    </div>
  </div>
  <!--End co-worker interduce section-->

  <div fxLayout="row" fxLayoutAlign="start stretch">
    <!--karbarata interduce section-->
    <div fxFlex="5" class="blue-bg"></div>
    <div fxFlex="90" fxFlex.lt-md="100" fxLayout.lt-md="column">
      <div
        fxFlex="70"
        fxFlex.lt-md="70" class="blue-bg"
        fxLayout="row" fxLayoutAlign="start stretch">

        <div fxFlex="64" fxLayout="row" fxLayoutAlign="center center" class="white">
          <div fxLayout="column" fxLayoutAlign="center start" class="mr-3">
            <span class="mat-display-1 mb-2 backborder">اپلیکیشن کارباراتا</span>
            <p class="backborderHide">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
              استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
              نیاز، و کاربردهای متنوع با خلاقی، و فرهنگ پیشرو در زبان فارسی
              ایجاد کرد، در این
            </p>
          </div>
        </div>

      </div>
      <div
        fxFlex="30"
        fxLayout="row"
        fxLayoutAlign="space-between stretch">
        <div fxFlex="60" fxLayout="column" fxLayoutAlign="center center">
          <img
            src="assets/image/mobile.png" class="img-fluid p-5 mr-n10"
            alt="" srcset=""/>
        </div>
        <div fxFlex="40" class="py-5"
          fxLayout="column" fxLayoutAlign="space-between stretch">

          <div
            class="p-2 border-right"
            fxLayout="column"
            fxLayoutAlign="center end">
            <span>اولین اپلیکیشن جامع خدمات مهندسی ساختمانی </span>
          </div>

          <div fxLayout="column" fxLayoutAlign="center start">
            <span class="pb-3">قابل اجرا در:</span>
            <div fxLayout="row" fxLayoutAlign="center end">
              <img
                src="assets/image/browser.png" alt="chrome"
                srcset="" class="ml-4 w-25 img-fluid">
              <img
                src="assets/image/company.png"
                alt="ios" class="ml-4 w-25 img-fluid">
              <img
                src="assets/image/android.png"
                alt="android" class="ml-4 w-25 img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End karbarata interduce section-->

  <div fxLayout="row" fxLayoutAlign="center start" class="mt-2">
    <!--Sample Work section-->
    <div fxFlex="90">
      <h1 class="text-center">خدمات</h1>
      <app-sample-work></app-sample-work>
    </div>

  </div>
</div>
<!--End Sample Work section-->
<app-footer-form class="mt-auto"></app-footer-form>
