$line-width: 7rem;
$marginline: 1rem;

.primary-bg {
  background-color: #fe8c00;
}

.mr-n10 {
  margin-right: -8rem;
}

.background {
  position: absolute;
  transform: translateX(-50%) scale(.8);
  left: 0;
}

.add-button {
  color: white;
}

.ourteam {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue-bg {
  background-color: #0D47A1;
}

.border-left {
  border-left: #fe8c00 solid 2px;
}


.backborder{
  &::before{
    display: inline-block;
    content: "";
    border-top: .3rem solid #FE8C00;
    width: $line-width;
    margin: 2rem 0 0 $marginline;
    transform: translateY(0rem);
  }
}
.backborderHide{
  margin-right: $marginline + $line-width;
}

