<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">

  <div fxLayout="row" fxLayout.lt-md="column-reverse" class="mt-2 w-100" ngClass.lt-md="mt-1">

    <div fxLayout="column" fxLayoutAlign="center center" ngClass.lt-md="container" fxFlex="60">
      <h1 class="mb-4 text-center">همین حالا با ما همراه شوید</h1>
      <h2 class="text-center"
      >برای دسترسی راحت تر اپلیکیشن ما را دریافت کنید</h2>
      <b class="mt-3">دریافت از</b>

      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="w-100 mt-3 text-center ltr">
        <div fxFlex="30"><img src="assets/image/google-play-badge.png" alt="" srcset="" class="img-fluid"></div>
        <div fxFlex="30"><img src="assets/image/bazaar.png" alt="" sizes="" srcset="" class="img-fluid"></div>
      </div>

    </div>

    <div fxLayout="column" fxFlex="40" class="py-4">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="80">
          <img src="assets/image/update-animate.svg" alt="" srcset="" class="img-fluid">
        </div>
      </div>
    </div>

  </div>

<!--  <div fxLayout="row" fxLayoutAlign="start start"></div>-->

</div>
