<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
<div fxLayout="row" class="mt-5 w-100">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="60">
            <h1 class="mat-display-3 mb-4">همین حالا با ما همراه شوید</h1>
            <h2
            >برای دسترسی راحت تر اپلیکیشن ما را دریافت کنید</h2>
            <h3 class="mt-5">دریافت از</h3>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" class="w-100 mt-3 text-center ltr">
                <div fxFlex="30"><img src="assets/image/google-play-badge.png" alt="" srcset="" class="img-fluid"></div>
                <div fxFlex="30"><img src="assets/image/bazaar.png" alt="" sizes="" srcset="" class="img-fluid"></div>
            </div>
    </div>
    <div fxLayout="column" fxFlex="40" class="py-4">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="80">
                <img src="assets/image/update-animate.svg" alt="" srcset="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="start start">
    
</div>
</div>