<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
<div fxLayout="row" class="mt-5 w-100">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="60">
            <h1 class="mat-display-3">همین حالا با ما همراه شوید</h1>
            <h2
            >برای دسترسی راحت تر اپلیکیشن ما را دریافت کنید</h2>
    </div>
    <div fxLayout="column" fxFlex="40" class="py-4">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="80">
                <img src="assets/image/update-animate.svg" alt="" srcset="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="start start">
    asasd
</div>
</div>