.mat-expansion-panel {
  box-shadow: none !important;
}

.add-button {
  border-radius: 20px !important;
  *{
    color: white !important;
  }
}

::ng-deep .mat-list-item-content{
  padding: 0px !important;
}

.overflow{
  overflow: auto !important;
  max-height: 300px !important;
}
