<!--<h2>-->
<!--  نیرو های متخصص-->
<!--</h2>-->
<div fxLayout="row" class="container" fxLayoutGap="10px">

  <div fxLayout="column" fxFlex="15%"  class="text-center">

    <h4>مهارت های درخواستی</h4>

    <div fxLayout="column" fxFill>
      <mat-selection-list [multiple]="false"  fxFill>
        <mat-list-option (click)="getWorkforces(skill.slug);this.choosed = skill" *ngFor="let skill of skills" [value]="skill.name">
          {{skill.name}}
        </mat-list-option>
      </mat-selection-list>
    </div>

  </div>

  <div fxLayout="column" fxFlex>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-2">

      <h4>نیرو های در دسترس</h4>

      <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-flat-button color="primary" [disabled]="data.workforces.length === 0 " [mat-dialog-close]="data.workforces">
          <span>ثبت</span>
          <mat-icon>done</mat-icon>
        </button>
        <button mat-button (click)="onNoClick()">
          لغو
          <mat-icon>close</mat-icon>
        </button>
      </div>

    </div>

    <mat-form-field appearance="fill">
      <mat-label>جست و جو</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" *ngIf="users">

      <ng-container matColumnDef="select">

        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null; checkbox($event)"
                        [name]="row.id"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>

      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ردیف </th>
        <td mat-cell *matCellDef="let element;let i = index" data-label="ردیف"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> نام و نام خانوادگی </th>
        <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="نام و نام خانوادگی">
          <button mat-button>
            <img [src]="element.image | srcImage: 'user' " class="img-fluid mr-2 rounded-circle" width="35px">
            <span class="mr-3">{{element.fullName}}</span>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> شماره تلفن </th>
        <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="شماره تلفن">
          {{element.phoneNumber}}
        </td>
      </ng-container>

      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef> سابقه </th>
        <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="سابقه">
          {{element.workforceMaster.shared.exp + " ماه"}}
        </td>
      </ng-container>

      <ng-container matColumnDef="primary">
        <th mat-header-cell *matHeaderCellDef> حرفه اصلی </th>
        <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="حرفه اصلی">
          <mat-chip [selected]="element.workforceMaster.primarySkill.name === this.choosed.name">
            {{element.workforceMaster.primarySkill.name}}
          </mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="secondary">
        <th mat-header-cell *matHeaderCellDef>دیگر حرفه ها</th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
              <ng-container *ngFor="let skill of element.workforceMaster.secondarySkills">
                <mat-chip [selected]="skill.name === this.choosed.name">
                  {{skill.name}}
                </mat-chip>
              </ng-container>
          </mat-chip-list>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"

      >
      </tr>

    </table>

    <span class="mat-body-strong" *ngIf="!users">
      در حال حاضر نیرویی در دسترس نیست!!!
    </span>

  </div>

</div>


