.divider {
  position: relative;
  &::after{
    position: absolute;
    content: "";
    border-left: 3px solid rgba(255, 255, 255, 0.3);
    left: 0;
    top: 10%;
    bottom: 10%;
  }
}

.background-form{
  background: center center no-repeat;
  background-size: cover;
}

.footer{
  h2{
    margin-top: 0;
  }
  a{
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
  };
  p{opacity:0.5};
  span{opacity:0.5};

  .not-opacity{
    a{opacity: 1};
  }
}
