<div fxLayout="column" fxLayoutGap="15px">

  <h1 class="mat-h2">
    ورود به کارباراتا
  </h1>

  <mat-hint>
    برای ورود به پنل کاربری خود و مشاهده وضعیت درخواست ها شماره خود را وارد کنید
  </mat-hint>

  <form #loginForm=ngForm fxLayout="column" fxLayoutGap="10px">

      <mat-form-field appearance="fill">
        <mat-label>شماره تلفن</mat-label>
        <span matSuffix>98+ &nbsp;</span>
        <input matInput [(ngModel)]="form.phoneNumber" name="phoneNumber" required type="number">
        <mat-icon matPrefix>phone</mat-icon>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!loginForm.valid">ورود</button>

  </form>

  <button mat-button [routerLink]="['/auth/register']">حساب کاربری ندارم!</button>

</div>
