<mat-list>
  <div fxLayout="row wrap" dir="rtl" fxLayout.xs="column" fxLayoutGap="15px grid">
    <div fxFlex.gt-md="25%" fxFlex.sm="50%" *ngFor="let row of data">
      <mat-list-item>
        <div mat-line [ngSwitch]="row.type">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip *ngSwitchCase="StatusType.AWAITING_OP "
                      selected color="primary">در انتظار تایید اپراتور</mat-chip>
            <mat-chip *ngSwitchCase="StatusType.APPROVAL_OP"
                      selected color="primary">تایید اپراتور</mat-chip>
            <mat-chip *ngSwitchCase="StatusType.AWAITING_EXP"
                      selected color="primary">در انتظار تایید کارشناس</mat-chip>
            <mat-chip *ngSwitchCase="StatusType.APPROVAL_EXP"
                      selected color="primary">تایید کارشناس</mat-chip>
            <mat-chip *ngSwitchCase="StatusType.INVOICE"
                      selected color="primary">پرداخت صورت حساب</mat-chip>
            <mat-chip *ngSwitchCase="StatusType.CANCEL_OP"
                      selected color="primary">عدم تایید اپراتور</mat-chip>
            <mat-chip *ngSwitchCase="StatusType.CANCEL_EXP"
                      selected color="primary">عدم تایید کارشناس</mat-chip>
            <mat-chip *ngSwitchCase="StatusType.WORKING"
                      selected color="primary">در حال کار</mat-chip>
            <mat-chip *ngSwitchCase="StatusType.DONE" selected>کامل</mat-chip>
            <mat-chip *ngSwitchDefault>نامشخص</mat-chip>
          </mat-chip-list>
        </div>

        <div mat-line> {{row.created | persianDate}} </div>
      </mat-list-item>
    </div>
  </div>
</mat-list>
