<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" fxLayoutAlign="space-between center">
  <div fxFlex >
    <mat-card class="unShadow">

      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>
          ثبت نام در کارباراتا
        </mat-card-title>
      </mat-card-header>

      <mat-card-content fxLayoutAlign="center center">

          <form [formGroup]="stFormGroup" fxLayout="column" fxLayoutGap="15px">

            <mat-form-field appearance="fill">
              <mat-label>نام</mat-label>
              <input matInput  formControlName="name" required>
              <mat-icon matPrefix>perm_contact_calendar</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>نام خانوادگی</mat-label>
              <input matInput  formControlName="lastName" required>
              <mat-icon matPrefix>perm_contact_calendar</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>شماره تلفن</mat-label>
              <span matSuffix>98+ &nbsp;</span>
              <input matInput  formControlName="phoneNumber" required>
              <mat-icon matPrefix>phone</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>ایمیل</mat-label>
              <input matInput  formControlName="email" required>
              <mat-icon matPrefix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>رمزعبور</mat-label>
              <input matInput formControlName="password" type="password" required>
              <mat-icon matPrefix>vpn_key</mat-icon>
            </mat-form-field>

            <mat-hint>
              پس از ثبت نام می توانید از امکانات فوق العاده کارباراتا استفاده کنید!
            </mat-hint>

            <button mat-raised-button (click)="onSubmit()"
                    [disabled]="!stFormGroup.valid" color="primary" >ثبت نام</button>

          </form>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button [routerLink]="['/auth/login']">حساب کاربری دارم!</button>
      </mat-card-actions>

    </mat-card>
  </div>
</div>
