<div class="container my-4">
  <form [formGroup]="stFormGroup" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{isEdit ? 'ویرایش نیرو متخصص' : 'ثبت نیرو متخصص'}}
        </mat-card-title>
        <button-form class="mr-auto"
                     (click)="$event.preventDefault()"
                     prevUrl="/admin/user/workforce/master"
                     [isValid]="stFormGroup.valid"
                     (submitEvent)="onSubmit()"></button-form>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row warp" fxLayout.xs="column" dir="rtl" fxLayoutGap="15px grid">
          <ng-container formGroupName="user">
            <mat-form-field fxFlex.gt-md="33%" appearance="fill">
              <mat-label>نام</mat-label>
              <input matInput formControlName="name" required>
            </mat-form-field>
            <mat-form-field fxFlex.gt-md="33%" appearance="fill">
              <mat-label>نام خانوادگی</mat-label>
              <input matInput formControlName="lastName" required>
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="33%" appearance="fill">
              <mat-label>کدملی</mat-label>
              <input type="text" matInput formControlName="pid" #pid maxlength="10" required >
              <mat-hint align="end">{{pid.value.length}} / 10</mat-hint>
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="33%" appearance="fill">
              <mat-label>شماره تلفن</mat-label>
              <span matSuffix>98+ &nbsp;</span>
              <input matInput formControlName="phoneNumber" #phoneNumber maxlength="10" required type="text">
              <mat-icon matPrefix>phone</mat-icon>
              <mat-hint align="end">{{phoneNumber.value.length}} / 10</mat-hint>
            </mat-form-field>

            <mat-form-field fxFlex.gt-md="33%" appearance="fill">
              <mat-label>ایمیل</mat-label>
              <input matInput formControlName="email" type="email">
            </mat-form-field>
          </ng-container>
          <ng-container formGroupName="shared">
            <mat-form-field fxFlex.gt-md="33%" appearance="fill">
              <mat-label>سابقه کاری</mat-label>
              <input matInput formControlName="exp">
              <mat-hint>به ماه می باشد.</mat-hint>
            </mat-form-field>
            <mat-form-field fxFlex="100%" appearance="fill">
              <mat-label>شماره شبا</mat-label>
              <input matInput formControlName="shabaNumber">
            </mat-form-field>
          </ng-container>

          <mat-form-field appearance="fill" fxFlex.gt-xs="50%">
            <mat-label>مهارت اصلی</mat-label>
            <mat-select formControlName="primarySkill" required>
              <mat-option>-- هیج کدام --</mat-option>
              <mat-optgroup *ngFor="let category of data" [label]="category.name">
                <mat-option *ngFor="let skill of category.skills" [value]="skill.slug">
                  {{skill.name}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" fxFlex.gt-xs="50%">
            <mat-label>مهارت های فرعی</mat-label>
            <mat-select formControlName="secondarySkills" multiple required [disabled]="!stFormGroup.controls['primarySkill'].value">
              <mat-optgroup *ngFor="let category of data" [label]="category.name">
                <mat-option *ngFor="let skill of category.skills" [value]="skill.slug" [disabled]="skill.slug === stFormGroup.controls['primarySkill'].value">
                  {{skill.name}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
            <mat-hint *ngIf="!stFormGroup.controls['primarySkill'].value">مهارت اصلی را انتخاب کنید</mat-hint>
          </mat-form-field>

          <div fxFlex.gt-md="50%" fxLayout="column" fxLayoutGap="15px">
            <ng-container formGroupName="user">
              <mat-form-field  appearance="fill">
                <mat-label>آدرس</mat-label>
                <textarea matInput rows="5" formControlName="address" required></textarea>
              </mat-form-field>
              <mat-form-field fxFlex="100%" appearance="fill">
                <mat-label>پلاک</mat-label>
                <input matInput formControlName="houseNumber" type="number" required>
              </mat-form-field>
            </ng-container>
          </div>

          <div fxFlex.gt-md="50%" fxLayout="column" fxLayoutGap="15px">
            <ng-container formGroupName="user">
              <mat-form-field color="primary" appearance="fill">
                <mat-label>سطح دسترسی</mat-label>
                <mat-select formControlName="roles" multiple required>
                  <mat-option *ngFor="let role of roles | enumToArray" [value]="role" [disabled]="role !== UserRole.USER">
                    <ng-container [ngSwitch]="role">
                      <span *ngSwitchCase="UserRole.ADMIN">مدیر</span>
                      <span *ngSwitchCase="UserRole.AUTHOR">نویسنده</span>
                      <span *ngSwitchCase="UserRole.USER">کاربر</span>
                      <span *ngSwitchCase="UserRole.WORKER">نیرو ساده</span>
                      <span *ngSwitchCase="UserRole.MASTER">نیرو متخصص</span>
                      <span *ngSwitchCase="UserRole.EXPERT">کارشناس</span>
                      <span *ngSwitchCase="UserRole.ACCOUNTANT">حسابدار</span>
                      <span *ngSwitchCase="UserRole.OPERATOR">اپراتور</span>
                      <span *ngSwitchCase="UserRole.CONTRACTOR">پیمانکار</span>
                    </ng-container>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>

            <ng-container formGroupName="shared">
              <div fxFlex="row" fxLayoutAlign="space-between center">
                <mat-label class="mr-2">گوشی هوشمند دارد</mat-label>
                <mat-checkbox formControlName="isSmartPhone" color="primary"></mat-checkbox>
              </div>
            </ng-container>

            <ng-container formGroupName="user">
              <div fxFlex="row" fxLayoutAlign="space-between center">
                <mat-label class="mr-2">وضعیت حساب</mat-label>
                <mat-slide-toggle formControlName="status" color="primary"></mat-slide-toggle>
              </div>
            </ng-container>

          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
