<div class="container-fluid my-4">
  <div fxLayout="row">
    <div fxFlex="100%">
      <mat-card>
        <!--        <app-card-preloader></app-card-preloader>-->
        <mat-card-header>
          <mat-card-title>اخبار</mat-card-title>
          <button mat-icon-button (click)="getList()" class="mr-auto">
            <mat-icon>refresh</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="15px">
            <mat-form-field appearance="fill">
              <mat-label>جست و جو</mat-label>
              <input matInput #input>
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
              <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ردیف </th>
                <td mat-cell *matCellDef="let element;let i = index" data-label="ردیف"> {{i+1}} </td>
              </ng-container>
              <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> نویسنده </th>
                <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="نویسنده:">
                  <app-user-button [user]="element.reporter" [url]="'/blog/'+element.reporter.email+'/author'"></app-user-button>
                </td>
              </ng-container>
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> عنوان </th>
                <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="عنوان:">
                  <button mat-button [routerLink]="['/blog',element.slug]">
                    <span>{{ (element.title.length>6)? (element.title | slice:0:40)+'..':(element.title) }}</span>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> تصویر </th>
                <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="تصویر:">
                  <img class="img-fluid rounded mat-elevation-z1 my-2"
                       width="90px"
                       [defaultImage]="'assets/image/image-loader.svg'"
                       [lazyLoad]="helper.imageSrc('/upload/gallery/' + element.image.name)"
                       [alt]="element.title">
                </td>
              </ng-container>
              <ng-container matColumnDef="tagList">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> تگ ها </th>
                <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="تگ ها:">
                  <button mat-button (click)="openTagDialog(element.tagList)">
                    <mat-icon color="accent">bookmarks</mat-icon>
                    {{element.tagList.length}}
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="favoriteCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> لایک </th>
                <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="لایک:">
                  <button mat-button>
                    <mat-icon color="warn" (click)="openFavoriteDialog(element.favoriteClients)">favorite</mat-icon>
                    {{element.favoriteCount}}
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="categories">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> دسته بندی </th>
                <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="دسته بندی:">
                  <mat-chip-list ngClass.lt-md="mr-4">
                    <ng-container *ngFor="let category of element.categories">
                      <mat-chip color="accent" [routerLink]="['/blog',category.id,'category']" selected>{{ category.name }}</mat-chip>
                    </ng-container>
                  </mat-chip-list>
                </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> وضعیت </th>
                <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="وضعیت:">
                  <mat-chip-list ngClass.lt-md="mr-4">
                    <ng-container [ngSwitch]="element.status">
                      <mat-chip *ngSwitchCase="NewsStatus.PUBLISHED" selected>منتشر شده</mat-chip>
                      <mat-chip *ngSwitchCase="NewsStatus.UNPUBLISHED">منتشر نشده</mat-chip>
                      <mat-chip *ngSwitchDefault>نامشخص</mat-chip>
                    </ng-container>
                  </mat-chip-list>
                </td>
              </ng-container>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> کنترل </th>
                <td mat-cell *matCellDef="let element" data-label="کنترل">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button [routerLink]="[element.slug]" mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>ویرایش</span>
                    </button>
                    <button (click)="onChangeStatus(element.slug, element.status)" mat-menu-item>
                      <mat-icon>change_history</mat-icon>
                      <span>تغییر وضعیت</span>
                    </button>
                    <button (click)="delete(element.slug)" mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>حذف</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
          <mat-paginator [length]="dataSource.total"
                         [pageSize]="dataSource.pageTotal"
                         [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons></mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
