<div fxLayout="column">

  <div fxLayout.lt-md="column-reverse" class="section" fxLayoutAlign="start end"  fxLayoutAlign.lt-md="start stretch">

    <div fxFlex="10%"></div>

    <mat-card fxFlex="40%" fxFlex.lt-md="35%" class="mb-n4 p-4">
      <h3>نیرو متخصص</h3>
      <span class="text-justify">
        انواع نیرو کار متخصص و با تجربه اعم از بنا ، جوشکار اسکلت ، آرماتور بند ، تخریب ، کناف کار ، لوله کش و برق کار.
      </span>
    </mat-card>

  </div>

  <div class="mt-5" fxLayoutAlign="center center">
    <div fxFlex="80%" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="2%" dir="rtl">

      <ng-container *ngFor="let category of data">

        <app-skill-show
          [name]="category.name"
          [slug]="category.slug"
          [image]="category.image.name"
          fxFlex="30%" class="pb-3">
        </app-skill-show>

      </ng-container>

    </div>
  </div>

</div>
