<a fxLayout="column" fxLayoutGap.gt-xs="30px" [routerLink]="[prefix,data?.slug]" fxLayoutGap.xs="15px">
  <img [lazyLoad]="data?.image.name | srcImage"
       [defaultImage]="'assets/image/image-loader.svg'"
       [alt]="data?.title"
       [class]="'img-fluid rounded'">
  <h3 ngClass.gt-xs="mat-h2" ngClass.xs="mat-h2">{{data?.title}}</h3>
  <span ngClass.lt-md="mat-small">{{data?.description}}</span>
  <mat-chip-list>
    <ng-container *ngFor="let category of data?.categories">
      <mat-chip [routerLink]="[prefix,category.slug,'category']" selected>{{ category.name }}</mat-chip>
    </ng-container>
  </mat-chip-list>
</a>
