<div class="container-fluid my-5" fxLayout="row" fxLayoutAlign="center center">

  <div fxFlex.gt-xs="80%" fxLayout="column">

    <mat-form-field fxFlex appearance="fill">
      <mat-label>جست و جو</mat-label>
      <input matInput #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div fxLayout="column" fxLayoutGap.gt-xs="5px"
         fxLayoutGap.xs="40px" dir="rtl">

      <ng-container *ngFor="let faq of dataSource.connect() | async">
        <div fxFlex.gt-xs="33%" fxFlex.sm="50%" fxLayout="column" fxLayoutGap.gt-xs="30px">
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>
                {{faq.question}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-panel-description class="text-justify" fxFlex="" [innerHTML]="faq.answer"></mat-panel-description>

          </mat-expansion-panel>
        </div>
      </ng-container>


      <mat-paginator [length]="dataSource.total"
                     [pageSize]="dataSource.pageTotal"
                      [pageSizeOptions]="[10, 20, 50, 100]"
                     showFirstLastButtons></mat-paginator>

    </div>

  </div>

</div>
