<div class="example-container" [class.example-is-mobile]="mobileQuery.matches"
     [ngClass]="{'theme-alternate':darkMode,'theme': !darkMode}">
  <app-toolbar
    class="w-100"
    [sidenav]="snav"
    [mobileQuery]="mobileQuery"
  ></app-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 50 : 0">

    <mat-sidenav
        #snav
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56">

      <mat-nav-list>
        <ng-container *ngFor="let item of menuList;let first = first">
<!--          <a mat-list-item [routerLink]="[item.link]" [routerLinkActive]="!first ? 'active-list-item' : ''">{{item.title}}</a>-->
          <button mat-menu-item *ngIf="item.link" [routerLink]="item.link">
            <span>{{item.title}}</span>
          </button>

          <button mat-menu-item *ngIf="item.items" [matMenuTriggerFor]="menuLoop">
            <span>{{item.title}}</span>
          </button>

          <mat-menu #menuLoop="matMenu">
            <ng-container *ngFor="let row of item.items">
              <button [routerLink]="row.link" mat-menu-item>
                <span>{{row.title}}</span>
              </button>
            </ng-container>
          </mat-menu>

        </ng-container>


        <mat-divider></mat-divider>

        <div>
          <button mat-menu-item (click)="changeTheme()">
            <mat-icon>{{darkMode ? 'brightness_3' : 'wb_sunny'}}</mat-icon>
            <span>{{!darkMode ? 'روز' : 'شب'}}</span>
          </button>
        </div>

        <div *ngIf="!loggedIn">

          <button [routerLink]="['/auth/login']" mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            ورود
          </button>

          <button [routerLink]="['/auth/register']" mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            ثبت نام
          </button>

        </div>

        <div *ngIf="loggedIn &&  userProfile">

          <button [routerLink]="['/user']" mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            پروفایل
          </button>

          <button (click)="logout($event)" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            خروج
          </button>

        </div>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content
      dir="ltr"
      fxLayout="column">
<!--      <app-preloader></app-preloader>-->
<!--            <app-loader-progress-bar></app-loader-progress-bar>-->
      <!--      <app-breadcrumb fxHide.xs="true"></app-breadcrumb>-->
      <router-outlet></router-outlet>
      <support-button></support-button>
      <app-footer class="mt-4"></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>
