<div fxLayout="row" fxLayoutAlign="center center" class="my-5">
  <div fxFlex.gt-xs="75%">
    <form [formGroup]="stFormGroup" (ngSubmit)="onSubmit()">

      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center" >

          <mat-form-field fxFlex.gt-xs="50%" color="primary" appearance="fill">
            <mat-label>نوع صورت وضعیت</mat-label>
            <mat-select formControlName="type" required>
              <mat-option *ngFor="let type of types | enumToArray" [value]="type">
                <ng-container [ngSwitch]="type">
                  <span *ngSwitchCase="Type.WORKFORCE">نیرو</span>
                  <span *ngSwitchCase="Type.STUFF">کالا</span>
                  <span *ngSwitchCase="Type.BOTH">هردو</span>
                </ng-container>
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <table mat-table [dataSource]="dataSource" #mytable>

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> ردیف. </th>
            <td mat-cell *matCellDef="let element;let i = index" class="has_label_on_mobile" data-label="ردیف."> {{i+1}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> عنوان </th>
            <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="عنوان"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> تعداد </th>
            <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="تعداد"> {{element.quantity}} </td>
          </ng-container>

          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef> واحد </th>
            <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="واحد">
              <ng-container [ngSwitch]="element.unit">
                <span *ngSwitchCase="Unit.KG">کیلوگرم</span>
                <span *ngSwitchCase="Unit.PERSON">نفر</span>
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef> فی </th>
            <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="فی"> {{element.cost}} </td>
          </ng-container>

          <ng-container matColumnDef="costTotal">
            <th mat-header-cell *matHeaderCellDef> کل </th>
            <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="کل"> {{element.costTotal}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> کنترل </th>
            <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="کنترل">
              <mat-button-toggle-group *ngIf="!isView" appearance="legacy">
                <mat-button-toggle (click)="$event.preventDefault();openDialog('Update',element)">ویرایش</mat-button-toggle>
                <mat-button-toggle (click)="$event.preventDefault();openDialog('Delete',element)">حذف</mat-button-toggle>
              </mat-button-toggle-group>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <span mat-subheader class="mx-auto mt-3" *ngIf="dataSource.length == 0">لطفا فاکتور خود را تنظیم نمایید!</span>
        <div *ngIf="statusStatement" class="mt-3" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="15px grid">
          <mat-list fxFlex.gt-md="33%">
            <div mat-subheader>صادر کننده</div>
            <mat-list-item *ngIf="statusStatement?.user">
              <img matListAvatar [src]="statusStatement.user?.image | srcImage:'user' " [alt]="statusStatement.user?.fullName">
              <h3 matLine> {{statusStatement.user?.fullName}} </h3>
            </mat-list-item>
            <mat-list-item *ngIf="!statusStatement?.user">
              <h3 matLine> سیستم </h3>
            </mat-list-item>
          </mat-list>
          <mat-list fxFlex.gt-md="33%">
            <div mat-subheader>تایید کارشناس</div>
            <mat-list-item>
              <h3 matLine> {{statusStatement?.isExpertApproval ? 'تایید شده' : 'تایید نشده'}} </h3>
            </mat-list-item>
          </mat-list>
        </div>
        <div fxLayout="row" class="mt-4" fxLayoutAlign="center center" >
          <button fxFlex.gt-xs="20%" mat-raised-button [disabled]="isView" (click)="$event.preventDefault();openDialog('Add',{})" mat-flat-button color="accent">
            <mat-icon>add</mat-icon>
            <span class="mr-2">سطر جدید</span>
          </button>
          <button fxFlex.gt-xs="20%" color="primary" type="submit" *ngIf="!isView" (click)="$event.preventDefault();onSubmit()" mat-raised-button [disabled]="!stFormGroup.valid">
            <mat-icon>save_alt</mat-icon>
            <span class="mr-2">ذخیره</span>
          </button>
          <button fxFlex.gt-xs="20%" color="accent" *ngIf="isView" (click)="$event.preventDefault();isView = false;stFormGroup.enable();" [disabled]="statusStatement.isExpertApproval" mat-raised-button>
            <mat-icon>create</mat-icon>
            <span class="mr-2">ویرایش</span>
          </button>
          <button fxFlex.gt-xs="20%" color="warn" *ngIf="!isView" mat-flat-button>
            <mat-icon>cancel_presentation</mat-icon>
            <span class="mr-2">لغو</span>
          </button>
          <button fxFlex.gt-xs="25%" color="primary" (click)="updateExpertApproval()" *ngIf="isView" [disabled]="statusStatement?.isExpertApproval" mat-raised-button>
            <mat-icon>done</mat-icon>
            <span class="mr-2">تایید صورت وضعیت</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
