<div class="container my-4" fxLayoutAlign="center center">
  <div fxFlex="80%">
    <div fxLayout="column">
      <mat-card>
        <mat-card-header>
          <h2>کارباراتا</h2>
        </mat-card-header>

        <mat-card-content >
          <p>
            کارباراتا چیه و چه کاری انجام میده؟
          </p>
          <p>
            کاربارا اولین و بزرگترین اپلیکیشن در حوزه مهندسی ساختمانی هست که تمامی کارهای مرتبط با این حوزه را از همان قدم اول برای شما انجام خواهد داد و در کنار شما خواهد بود.
          </p>
          <p>
            اگر نیاز به نیروی خدماتی و کارگر ساده و متخصص دارید ، میتوانید از کارباراتا درخواست نیروی خود را ثبت کنید و نیروی مورد نظر خود را در زمان مشخص شده در اختیار داشته باشید. اگر نیاز به پروژه های طراحی دارید میتوانید سفارش پروژه دهید و در زمان مشخص شده و با قیمت از قبل تعیین شده پروژه خود را با بالاترین کیفیت و مدرن ترین شکل ممکن توسط متخصصان کارباراتا دریافت کنید. همینطور اگر برای کارهای ساختمانی پیش روی خود برای برآورد هزینه ها نیاز به استعلام قیمت دارید ، مشاوران کارباراتا آماده هستند تا بصورت رایگان شمارا نسبت به هزینه ی کارتان آگاه کنند. همینطور دیگر نیازی به صرف کردن زمان زیاد برای دریافت خدمات شهرداری ندارید ،‌کاربارتا تمامی خدمات مورد نیاز شهرداری شمارا عهده دار خواهد شد.
          </p>
          <p>
            چرا باید با کارباراتا کارامو انجام بدم‌؟
          </p>
          <p>
            کارباراتا این امکان را به شما میدهد تا تمامی کارهای خود را به شکلی سریعتر و راحت تر نسبت به روش سنتی انجام دهید و از آنجایی که اپلیکیشن کارباراتا همیشه و در همه جا همراه شما هست ، از این رو انجام تمامی این خدمات برای شما در دسترس تر خواهد شد و دیگر نیازی به روز ها زمان گذاشتن برای پیدا کردن نیروی متخصص و یا خدمات با قیمت مناسب نخواهید داشت.
          </p>
          <p>
            از طرفی از آنجایی که وسعت پروژه های کارباراتا بسیار وسیع تر نسبت به افراد است ، از نظر قیمتی مقرون به صرفه تر خواهد بود.
          </p>
          <p>
            چطوری میتونم با خیال راحت کارای خودمو به متخصصین کارباراتا بسپارم ؟
          </p>
          <p>
            تنها کافیه از طریق لینک زیر و توضیحاتی که داده شده اپلیکیشن کارباراتا رو نصب کنید و از قسمت های مختلف نرم افزار با توجه به نیاز خود درخواست خود را در زمینه های مختلف همچون درخواست نیرو ، طراحی ساخت و ساز ، خدمات شهرداری و ... ثبت کنید تا مشاوران ما با شما تماس بگیرند و روند پیگیری سفارشات شما را عهده دار شوند.
          </p>
          <p>
            با گسترش کارباراتا چه اتفاقاتی خواهد افتاد؟
          </p>
          <p>
            یکی از رسالت های تیم کارباراتا ، اشتغال زایی برای جوانان است که تمرکز زیادی بر روی این موضوع دارد. و یکی دیگر از اهدافی که تیم کارباراتا در حال دنبال کردن است ، ساماندهی نیرو های کار است. با ساماندهی این قشر زحمت کش و کم در آمد جامعه امکان ارائه خدمات رفاهی بیشتر ، خدمات بیمه ای و همینطور سازمان دهی سازمانی به شکلی که دیگر شاهد بیکاری و انتظار زیاد این عزیزان برای کار در کنار خیابان های کشور عزیزمان نباشیم. تیم کارباراتا روز به روز در حال بهبود خدمات و ارزش آفرینی بهتر برای شهروندان خواهد بود از شما دعوت میکنم در این امر همراه و همیار این تیم بزرگ باشید.
          </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <div fxLayoutAlign="space-between center" class="mt-5">
          <div>
            <b>رسانه ها</b>
          </div>
          <div fxFlex="40%" fxLayoutAlign="space-evenly center">

            <a href="https://t.me/karbarata">
              <button mat-flat-button fxFlex="20%">
                <mat-icon><img class="img-fluid px-2" src="assets/image/telegram.svg" alt="telegram"></mat-icon>
                <span>تلگرام</span>
              </button>
            </a>

            <a href="https://www.instagram.com/karbarata/">
              <button mat-flat-button fxFlex="20%">
                <mat-icon><img class="img-fluid px-2" src="assets/image/034-instagram.svg" alt="instagram"></mat-icon>
                <span>اینستاگرام</span>
              </button>
            </a>


          </div>

        </div>
      </mat-card>
      <div class="mt-4" fxLayoutAlign="space-around center">

        <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center center">
          <img class="img-fluid" width="280px" src="assets/image/ratagostar.png" alt="logo-ratagostar">
        </div>

        <form [formGroup]="stFormGroup" fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          <mat-card fxFill>

            <mat-card-header>
              <h2 class="text-center" fxFlex="100%">
                فرم تماس با ما
              </h2>
            </mat-card-header>

            <mat-card-content dir="rtl">

              <div>
                <mat-form-field appearance="outline" fxFill>
                  <mat-label>نام شما</mat-label>
                  <input matInput formControlName="fullName" required>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline" fxFill>
                  <mat-label> شماره تلفن یا ایمیل شما</mat-label>
                  <input matInput formControlName="contactWay" required>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline" fxFill>
                  <mat-label>پیغام شما</mat-label>
                  <textarea matInput formControlName="description" rows="5" required ></textarea>
                </mat-form-field>
              </div>

              <div fxLayoutAlign="center center">
                <button mat-flat-button
                        color="primary"
                        (click)="onsubmit()"
                        [disabled]="!stFormGroup.valid"
                        fxFlex="30%">ارسال</button>
              </div>

            </mat-card-content>



          </mat-card>
        </form>

      </div>
    </div>
  </div>
</div>





