<div class="container-fluid my-4">
  <div fxLayout="row wrap" fxLayout.xs="column" dir="rtl" fxLayoutGap="15px grid">
    <div fxFlex.gt-sm="25%" >
      <app-form (categoryUpdated)="getList()"></app-form>
    </div>
    <div fxFlex.gt-sm="75%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>دسته بندی سوالات</mat-card-title>
          <button mat-icon-button (click)="getList()" class="mr-auto">
            <mat-icon>refresh</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="15px" >
            <mat-form-field appearance="fill">
              <mat-label>جست و جو</mat-label>
              <input matInput #input>
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
              <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ردیف </th>
                <td mat-cell *matCellDef="let element;let i = index" data-label="ردیف"> {{i+1}} </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> نام دسته </th>
                <td mat-cell *matCellDef="let element" data-label="نام دسته">{{element.name}}</td>
              </ng-container>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> کنترل </th>
                <td mat-cell *matCellDef="let element" data-label="کنترل">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button [routerLink]="[element.slug]" mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>ویرایش</span>
                    </button>
                    <button (click)="delete(element.slug)" mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>حذف</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
          <mat-paginator [length]="dataSource.total"
                         [pageSize]="dataSource.pageTotal"
                         [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons></mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
