<!--<div fxLayout="column">-->

<!--  <div fxFlex="50%">-->

<!--    <div fxLayout="column" fxFlex="60%" fxLayoutAlign="center center" class="px-5">-->
<!--      <h2 class="w-100">سئوالات متداول</h2>-->
<!--      <h4>اگر پاسخ سوالات خود را در این بخش پیدا نکردید میتوانید از طریق راه‌های ارتباطی ذکر شده در صفحه تماس با ما با کارشناسان کارباراتا در ارتباط باشید.</h4>-->
<!--    </div>-->

<!--    <div fxHide.lt-md="true" fxFlex>-->
<!--      <img src="assets/image/jon-tyson-hhq1Lxtuwd8-unsplash.jpg" class="img-fluid" alt="FAQ">-->
<!--    </div>-->

<!--  </div>-->

<!--</div>-->

<nav mat-tab-nav-bar color="primary" dir="rtl">

  <a mat-tab-link
     [routerLink]="['/faq']"
     routerLinkActive #rla="routerLinkActive"
     [routerLinkActiveOptions]="{exact:true}"
     [active]="rla.isActive">
    جدیدترین ها
  </a>

  <a mat-tab-link
     *ngFor="let element of categories;let i = index"
     [routerLink]="['/faq',element.slug]"
     routerLinkActive #rla="routerLinkActive"
     [routerLinkActiveOptions]="{exact:true}"
     [active]="rla.isActive">
    {{element.name}}
  </a>

</nav>
