
<form [formGroup]="stFormGroup">

  <div fxLayout="row" class="mt-4" fxLayoutGap="15px" fxLayoutAlign="space-evenly center">

    <button fxFlex.gt-xs="90%" appUserChoose [disabled]="isView" color="accent" class="mb-3 py-3"
            [roles]="UserRole.WORKER"
            [multiple]="true"
            [selected]="workforces"
            (click)="$event.preventDefault()"
            (userUpdated)="getWorkforce($event)"
            mat-flat-button>
      <mat-icon>account_circle</mat-icon>
      <span class="mr-2">انتخاب نیرو</span>
    </button>

    <div>
      <button mat-mini-fab *ngIf="!isView || isEdit" type="submit" color="primary" (click)="onSubmit()" [disabled]="!stFormGroup.valid">
        <mat-icon>done</mat-icon>
      </button>

<!--      <button mat-mini-fab *ngIf="isView && !isEdit" color="primary" (click)="$event.preventDefault()">-->
<!--        <mat-icon>edit</mat-icon>-->
<!--      </button>-->

      <button fxFlex.gt-xs="90%" appUserChoose *ngIf="isView && !isEdit" color="primary"
              [roles]="UserRole.WORKER"
              [multiple]="true"
              [selected]="workforces"
              (click)="$event.preventDefault()"
              (userUpdated)="getWorkforce($event)"
              mat-mini-fab>
        <mat-icon>edit</mat-icon>
      </button>

    </div>

  </div>

  <div fxLayout="column">
    <mat-list>
      <mat-list-item *ngFor="let row of workforces" class="text-right">
        <img matListAvatar [src]="row.image | srcImage:'user' " [alt]="row.fullName">
        <p matLine><span> {{row.fullName}} </span></p>
        <p matLine><span> {{row?.phoneNumber}} </span></p>
      </mat-list-item>
    </mat-list>
  </div>

</form>
