::ng-deep .mat-vertical-stepper-header{
  padding: 54px 24px !important;
}
::ng-deep .mat-stepper-vertical-line::before {
  top: -36px !important;
  bottom: -36px !important;
}
.svgFill{
  img{
    fill: black;
  }
}
//}
//
//h1,h2,h3,h4,h5,h6,span{
//  color: black !important;
//}
//
//.headline-text:before {
//  display: inline-block;
//  content: "";
//  border-top: .15rem solid #FE8C00;
//  width: 4rem;
//  margin-right: 5px;
//  transform: translateY(-0.27rem);
//}
//
//.top-border:before {
//  display: block;
//  content: "";
//  border-top: .15rem solid #FE8C00;
//  width: 9rem;
//  margin-top: 10px;
//}
//
//mat-button-toggle{
//  background-color: $mat-accent !important;
//}
//
//.mat-button-toggle-checked{
//  border: outset #FE8C00 !important;
//}
//
////::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done,
////.mat-step-header .mat-step-icon-state-edit, .mat-step-header .mat-step-icon {
////  background-color: #0D47A1 !important;
////  color: #FE8C00 !important;
////}
//
