<div fxLayout="row" class="stepper" ngClass.gt-sm="vh-100">

  <div fxLayout="column" fxHide.lt-md fxFlex="30%" style="background-color: #0D47A1" class="container">

    <div fxLayout="column" fxLayoutAlign="space-around center">
      <form [formGroup]="stFormGroup">
        <mat-vertical-stepper class="stepper__step" #stepper (click)="stepIndex = stepper.selectedIndex">

          <ng-template matStepperIcon>
            <mat-icon>edit</mat-icon>
          </ng-template>

          <mat-step  fxLayout="column"
                     label="انتخاب دسته"
                     [stepControl]="stFormGroup.controls.typeForm">
            <mat-hint>
                دسته بندی مورد نظر خود را انتخاب کنید
            </mat-hint>

          </mat-step>

          <mat-step  fxLayout="column"
                     label="مکان درخواست"
                     [stepControl]="stFormGroup.controls.locationForm">

            <mat-hint>
              آدرس محل پروژه خود را وارد کنید
            </mat-hint>

          </mat-step>

          <mat-step  fxLayout="column"
                     label="تایید درخواست"
                     [stepControl]="stFormGroup.controls.confirmForm">

            <mat-hint>
              برای تایید درخواست تاریخ مراجعه را وارد کنید و در صورت لزوم توضیحات تکمیلی را وارد کنید
            </mat-hint>

          </mat-step>

          <ng-template matStepperIcon="phone">
            <mat-icon>call_end</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="chat">
            <mat-icon>forum</mat-icon>
          </ng-template>

        </mat-vertical-stepper>
      </form>
    </div>

  </div>

  <div fxLayout="column" fxFlex="70%" fxFlex.lt-md="100%" dir="rtl">


      <div fxLayout="column" class="my-2 mx-5">

        <div fxLayout="column" *ngIf="stepIndex === 0">

          <div fxLayoutAlign="start center">
            <h2>
              درخواست انتخاب شده
            </h2>
          </div>

          <div fxLayoutAlign="start center" fxFlexOffset="1%">
            <h3 class="headline-text">
              نیرو ساده
            </h3>
          </div>

          <div fxLayoutAlign="start center" fxFlexOffset="2%">
            <h2>
              انتخاب نوع درخواست
            </h2>
          </div>

          <div
            fxLayout.lt-md="column"
            fxLayoutAlign.lt-md=" stretch"
            fxLayoutAlign="space-around center"
            fxFlexOffset="2%" [formGroup]="stFormGroup.controls['typeForm']">

            <mat-button-toggle-group class="no-border" fxLayout.lt-md="column"
                                     fxLayoutAlign.lt-md=" stretch"
                                     fxLayoutAlign="space-around center" formControlName="type" fxFlex.gt-md="50%">

              <mat-button-toggle value="daily" fxFlex.lt-md="60%" fxFlex="35%" fxLayout="column">
                <img src="assets/image/daily.svg" class="img-fluid p-2" alt="daily" fxHide.lt-md>
                <span class="top-border">
              روزمزد
            </span>
              </mat-button-toggle>

              <mat-button-toggle value="contract" fxFlex.lt-md="60%" fxFlex="35%" fxLayout="column">
                <img  src="assets/image/daily.svg" class="img-fluid p-2" alt="contractor" fxHide.lt-md>
                <span class="top-border">
              قراردادی
                </span>
              </mat-button-toggle>

            </mat-button-toggle-group>

            <div fxLayout="column" class="py-1 px-2 text-center" fxFlex="35%" fxFill fxLayoutAlign="space-between ">

              <div>
                <app-day-counter formControlName="quantity" [type]="'نفر'"></app-day-counter>
                <span class="mat-small mat-hint">
                تعداد نیرو مورد نیاز
                </span>
              </div>

              <div>
                <app-day-counter formControlName="duration" type="روز"></app-day-counter>
                <span class="mat-small mat-hint">
                مدت زمان مورد نیاز
                </span>
              </div>

            </div>

          </div>

          <div fxLayout="row" fxLayoutAlign="end center"
               fxLayoutAlign.lt-md="space-around center"
               fxLayoutGap="2%" class="pt-4">

            <button
              mat-flat-button
              [disabled]="!stFormGroup.controls['typeForm'].valid"
              (click)="nextStep(stepper);$event.preventDefault()"
              color="primary">
              مرحله بعد
            </button>

            <button
              mat-flat-button
              [disabled]="stepIndex < 1" (click)="prevStep(stepper);$event.preventDefault()" color="primary">
              مرحله قبل
            </button>

          </div>

        </div>

        <div fxLayout="column" *ngIf="stepIndex === 1">
          <form [formGroup]="stFormGroup.controls['locationForm']">

            <div fxLayout="column">
              <h3>متراژ تقریبی به متر</h3>

              <mat-form-field appearance="outline">
                <mat-label>متراژ</mat-label>
                <input matInput formControlName="approximateArea" type="number" required>
              </mat-form-field>
            </div>

            <div fxLayout="column">
              <h3>آدرس</h3>

              <mat-form-field appearance="outline">
                <mat-label>آدرس</mat-label>
                <input matInput formControlName="address" required>
              </mat-form-field>
            </div>

            <div fxLayout="column">
              <h3>پلاک</h3>

              <mat-form-field appearance="outline">
                <mat-label>پلاک</mat-label>
                <input matInput formControlName="houseNumber" type="number" required>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center"
                 fxLayoutAlign.lt-md="space-around center"
                 fxLayoutGap="2%"  class="pt-4">

              <button
                mat-flat-button
                [disabled]="!stFormGroup.controls['locationForm'].valid"
                (click)="nextStep(stepper);$event.preventDefault()"
                color="primary">
                مرحله بعد
              </button>

              <button
                mat-flat-button
                (click)="prevStep(stepper);$event.preventDefault()" color="primary">
                مرحله قبل
              </button>

            </div>

          </form>
        </div>

        <div fxLayout="column" *ngIf="stepIndex === 2">
          <form [formGroup]="stFormGroup.controls['confirmForm']">
            <div fxLayout="column">
              <h3>توضیحات</h3>

              <mat-form-field appearance="outline">
                <mat-label>توضیحات</mat-label>
                <textarea matInput rows="6" formControlName="description"></textarea>
              </mat-form-field>
            </div>

            <div fxLayout="column">
              <h3>تاریخ مراجعه</h3>
              <mat-hint>جهت هماهنگی ساعت دقیق ، اپراتور با شما تماس میگیرد</mat-hint>
              <mat-form-field appearance="outline">
                <mat-label>تاریخ مراجعه</mat-label>
                <input matInput [matDatepicker]="picker"
                       [min]="minDate" (focus)="picker.open()"
                       [disabled]="stFormGroup.controls['confirmForm'].value.isForce"
                       formControlName="serviceDate"
                       readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div fxLayout="column">
              <mat-checkbox color="primary" formControlName="isForce">درخواست فوری</mat-checkbox>
              <mat-hint>درخواست های فوری در همان روز کاری پاسخ داده خواهند شد.(در صورت ثبت درخواست شما مشمول مبلغ جزئی میشود)</mat-hint>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center"
                 fxLayoutAlign.lt-md="space-around center"
                 fxLayoutGap="2%"  class="pt-4">

              <button
                mat-flat-button
                [disabled]="!stFormGroup.valid"
                (click)="onSubmit()"
                color="primary">
                ثبت درخواست
              </button>

              <button
                mat-flat-button
                (click)="prevStep(stepper);$event.preventDefault()" color="primary">
                مرحله قبل
              </button>

            </div>

          </form>


        </div>

      </div>

  </div>

</div>
