<div class="container-fluid my-4">
  <div fxLayout="row">
    <div fxFlex="100%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>لیست درخواست ها</mat-card-title>
          <button mat-icon-button (click)="getList()" class="mr-auto">
            <mat-icon>refresh</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="15px">

            <mat-form-field appearance="fill">
              <mat-label>جست و جو</mat-label>
              <input matInput #input>
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" matSort matSortDisableClear>

              <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ردیف </th>
                <td mat-cell *matCellDef="let element;let i = index" data-label="ردیف"> {{i+1}} </td>
              </ng-container>

              <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> شماره درخواست </th>
                <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="شماره درخواست :">
                  {{element.id}}
                </td>
              </ng-container>

              <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef> درخواست کننده </th>
                <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="درخواست کننده :">
                  <app-user-button [user]="element.user"></app-user-button>
                </td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> نوع درخواست </th>
                <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="نوع درخواست:">
                  <mat-chip-list ngClass.lt-md="mr-4">
                    <ng-container>
                      <mat-chip *ngIf="element.simple">نیرو ساده</mat-chip>
                      <mat-chip *ngIf="element.master">نیرو متخصص</mat-chip>
                      <mat-chip *ngIf="element.construct">نیرو ساخت و ساز</mat-chip>
                    </ng-container>
                  </mat-chip-list>
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> وضعیت </th>
                <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="وضعیت:">
                  <mat-chip-list ngClass.lt-md="mr-4">
                    <ng-container [ngSwitch]="element.request.status[(element.request.status.length)-1].type">
                      <mat-chip *ngSwitchCase="RequestStatus.AWAITING_OP " selected>در انتظار تایید اپراتور</mat-chip>
                      <mat-chip *ngSwitchCase="RequestStatus.APPROVAL_OP" selected>تایید اپراتور</mat-chip>
                      <mat-chip *ngSwitchCase="RequestStatus.AWAITING_EXP" selected>در انتظار تایید کارشناس</mat-chip>
                      <mat-chip *ngSwitchCase="RequestStatus.APPROVAL_EXP" selected>تایید کارشناس</mat-chip>
                      <mat-chip *ngSwitchCase="RequestStatus.INVOICE" selected>پرداخت صورت حساب</mat-chip>
                      <mat-chip *ngSwitchCase="RequestStatus.DONE" selected>کامل</mat-chip>
                      <mat-chip *ngSwitchDefault>نامشخص</mat-chip>
                    </ng-container>
                  </mat-chip-list>
                </td>
              </ng-container>

              <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> تاریخ درخواست </th>
                <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="تاریخ درخواست :">
                  {{element.serviceDate | persianDate}}
                </td>
              </ng-container>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> کنترل </th>
                <td mat-cell *matCellDef="let element" data-label="کنترل">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button [routerLink]="[element.simple? 'simple/' + element.id : 'master/' + element.id]" mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>تغییر اطلاعات</span>
                    </button>
<!--                    <button (click)="onChangeStatus(element.id, element.status)" mat-menu-item>-->
<!--                      <mat-icon>change_history</mat-icon>-->
<!--                      <span>تغییر وضعیت</span>-->
<!--                    </button>-->
                    <button (click)="delete(element.id)" mat-menu-item disabled>
                      <mat-icon>delete</mat-icon>
                      <span>حذف</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

          </div>
          <mat-paginator [length]="dataSource.total"
                         [pageSize]="dataSource.pageTotal"
                         [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons></mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
