<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
              [ngClass]="{'active': item.link ? router.isActive(item.link, true): false, 'expanded': expanded}">
  <mat-icon class="routeIcon">{{item.icon}}</mat-icon>
  {{item.title}}

<span fxFlex></span>
      <div class="arrow" *ngIf="!item.items && item.link ? router.isActive(item.link, true): false">
        <div class="point"></div>
      </div>

  <span fxFlex *ngIf="item.items && item.items.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-menu-list-item *ngFor="let child of item.items" [item]="child" [depth]="depth+1">
  </app-menu-list-item>
</div>
