<h1 mat-dialog-title>انتخاب صورت وضعیت</h1>
<div mat-dialog-content>
  <div fxLayout="column" fxLayoutGap="15px">
    <mat-form-field appearance="fill">
      <mat-label>جست و جو</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" >
          <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [disabled]="!row.isExpertApproval"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> ردیف </th>
        <td mat-cell *matCellDef="let element;let i = index" data-label="ردیف"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> شماره درخواست </th>
        <td mat-cell *matCellDef="let element" data-label="شماره درخواست"> {{element.request.id}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> نوع صورت وضعیت </th>
        <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="نوع صورت وضعیت">
          <mat-chip-list ngClass.lt-md="mr-4">
            <ng-container [ngSwitch]="element.type">
              <mat-chip *ngSwitchCase="Type.WORKFORCE" selected>نیرو</mat-chip>
              <mat-chip *ngSwitchCase="Type.STUFF" selected>کالا</mat-chip>
              <mat-chip *ngSwitchCase="Type.BOTH" selected>هردو</mat-chip>
              <mat-chip *ngSwitchDefault>نامشخص</mat-chip>
            </ng-container>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> ثبت کننده </th>
        <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="ثبت کننده">
          <button mat-button *ngIf="element.user" [disabled]="element.invoice">
            <img [src]="element.user.image | srcImage:'user' " class="img-fluid mr-2 rounded-circle" width="35px">
            <span class="mr-3">{{element.user.fullName}}</span>
          </button>
          <button mat-button *ngIf="!element.user">
            سیستم
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="isExpertApproval">
        <th mat-header-cell *matHeaderCellDef> تایید کارشناس </th>
        <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="تایید کارشناس">
          <mat-icon>{{element.isExpertApproval ? 'done' : 'close'}}</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> تاریخ </th>
        <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="تاریخ درخواست">
          {{element?.created | persianDate }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
  </div>
<!--  <mat-paginator [length]="paginator.length"-->
<!--                 [pageSize]="paginator.pageSize"-->
<!--                  [pageSizeOptions]="[10, 20, 50, 100]"-->
<!--                 showFirstLastButtons></mat-paginator>-->
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
  <button mat-flat-button color="primary" [disabled]="selection.selected.length === 0" [mat-dialog-close]="selection.selected">{{selection.selected.length}}
    <span>صورت وضعیت انتخاب شده</span>
  </button>
  <button mat-button (click)="onNoClick()">بستن</button>
</div>
