<form [formGroup]="stFormGroup">
  <mat-selection-list formControlName="choosed">

    <ng-container *ngFor="let category of categories">

      <mat-optgroup>
        {{category.name}}
      </mat-optgroup>

      <mat-list-option *ngFor="let skill of category?.skills"
                       [selected]="checkSelected(skill)"
                       [value]="skill"
                       [disabled]="skill?.name === data.selected[0].name"
                       disableRipple
                       multiple color="primary">
        {{skill.name}}
      </mat-list-option>

      <mat-divider></mat-divider>

    </ng-container>


  </mat-selection-list>
</form>


<div fxLayoutAlign="space-evenly center" class="pt-2">

  <button mat-flat-button color="primary"
          (click)="dialogRef.close(stFormGroup.controls['choosed'].value)" cdkFocusInitial>ثبت</button>
  <button mat-flat-button color="accent" (click)="dialogRef.close()">لغو</button>
</div>
