<!--<mat-label>Pokemon</mat-label>-->
<!--<mat-select>-->

<!--<mat-optgroup *ngFor="let category of categories" [label]="category.name">-->

<!--  <mat-option *ngFor="let skills of category.skills" [value]="choosed">-->
<!--    {{skills.name}}-->
<!--  </mat-option>-->

<!--</mat-optgroup>-->


<!--</mat-select>-->

<!--<form [formGroup]="stFormGroup">-->
<!--  <mat-form-field appearance="fill" fxFlex.gt-xs="50%">-->
<!--    <mat-label>مهارت اصلی</mat-label>-->
<!--    <mat-select formControlName="choosed" required multiple>-->
<!--      <mat-option>&#45;&#45; هیج کدام &#45;&#45;</mat-option>-->
<!--      <mat-optgroup *ngFor="let category of categories" [label]="category.name">-->
<!--        <mat-option *ngFor="let skill of category.skills" [value]="skill.slug">-->
<!--          {{skill.name}}-->
<!--        </mat-option>-->
<!--      </mat-optgroup>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--</form>-->

<!--<mat-form-field appearance="fill">-->
<!--  <mat-label>Toppings</mat-label>-->
<!--  <mat-select [formControl]="choosed" multiple>-->
<!--    <ng-container *ngFor="let category of categories">-->
<!--    <mat-option *ngFor="let topping of category" [value]="topping">{{topping}}</mat-option>-->
<!--    </ng-container>-->
<!--  </mat-select>-->

<!--</mat-form-field>-->

<!--    <mat-label>مهارت اصلی</mat-label>-->
<!--      <mat-option>&#45;&#45; هیج کدام &#45;&#45;</mat-option>-->
<!--      <mat-optgroup *ngFor="let category of categories" [label]="category.name">-->
<!--        <ng-container  *ngFor="let skill of category.skills">-->
<!--          <mat-checkbox [value]="skill.slug">-->
<!--            {{skill.name}}-->
<!--          </mat-checkbox>-->
<!--        </ng-container>-->
<!--      </mat-optgroup>-->

<mat-selection-list>

  <ng-container *ngFor="let category of categories">

    <mat-optgroup>
      {{category.name}}
    </mat-optgroup>

    <mat-list-option *ngFor="let skills of category.skills">
      {{skills.name}}
    </mat-list-option>

    <mat-divider></mat-divider>

  </ng-container>

</mat-selection-list>
