<div class="container my-4">
  <mat-card>
    <mat-card-header>
      <mat-card-title>مهارت ها</mat-card-title>
      <button-card class="mr-auto" (reloadEvent)="getList()" [data]="[{
        label: 'مهارت جدید',
        icon: 'add',
        url: 'create'
       }]"></button-card>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="15px">
        <mat-form-field appearance="fill">
          <mat-label>جست و جو</mat-label>
          <input matInput #input>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <table  mat-table [dataSource]="dataSource" matSort matSortDisableClear>
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef> ردیف </th>
            <td mat-cell *matCellDef="let element;let i = index" data-label="ردیف"> {{i+1}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> نام </th>
            <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="نام:">
              <button mat-button>{{element.name}}</button>
            </td>
          </ng-container>
          <ng-container matColumnDef="tagList">
            <th mat-header-cell *matHeaderCellDef> تگ ها </th>
            <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="تگ ها:">
              <button mat-button (click)="openTagDialog(element.tagList)">
                <mat-icon color="accent">bookmarks</mat-icon>
                {{element.tagList.length}}
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> تصویر </th>
            <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="تصویر:">
              <image-lazy *ngIf="element.image;else emptyImage"
                          [image]="element.image.name | srcImage"
                          classes="mx-auto rounded mat-elevation-z1 my-2"
                          [alt]="element.image.name"
                          [width]="90"></image-lazy>
              <ng-template #emptyImage>
                <mat-chip-list>
                  <mat-chip color="accent">وارد نشده</mat-chip>
                </mat-chip-list>
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="svg">
            <th mat-header-cell *matHeaderCellDef> SVG </th>
            <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="SVG:">
              <image-lazy *ngIf="element.image;else emptySVG"
                          [image]="element.svg.name | srcImage"
                          classes="mx-auto rounded my-2"
                          [alt]="element.svg.name"
                          [width]="90"></image-lazy>
              <ng-template #emptySVG>
                <mat-chip-list>
                  <mat-chip color="accent">وارد نشده</mat-chip>
                </mat-chip-list>
              </ng-template>
            </td>
          </ng-container>
<!--          <ng-container matColumnDef="categories">-->
<!--            <th mat-header-cell *matHeaderCellDef> دسته بندی </th>-->
<!--            <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="دسته بندی:">-->
<!--              <mat-chip-list ngClass.lt-md="mr-4">-->
<!--                <ng-container *ngFor="let category of element.categories">-->
<!--                  <mat-chip color="accent" selected>{{ category.name }}</mat-chip>-->
<!--                </ng-container>-->
<!--                <ng-container *ngIf="element.categories.length === 0">-->
<!--                  <mat-chip color="accent">دسته بندی نشده</mat-chip>-->
<!--                </ng-container>-->
<!--              </mat-chip-list>-->
<!--            </td>-->
<!--          </ng-container>-->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> کنترل </th>
            <td mat-cell *matCellDef="let element" data-label="کنترل">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button [routerLink]="[element.slug]" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>تغییر اطلاعات</span>
                </button>
                <button (click)="delete(element.slug)" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>حذف</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator [length]="dataSource.total"
                         [pageSize]="dataSource.pageTotal"
                          [pageSizeOptions]="[5, 10, 25, 100]"
                         showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
