<div class="my-4 container">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex.gt-sm="35%">
      <form [formGroup]="stFormGroup" (ngSubmit)="onSubmit()">
        <mat-card>
          <mat-card-header>

            <mat-card-title>
              {{isEdit ? 'ویرایش درخواست متخصص' : 'درخواست متخصص'}}
            </mat-card-title>

            <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.preventDefault()" class="mr-auto">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button type="submit" (click)="onSubmit()" mat-menu-item >
                <mat-icon>save_alt</mat-icon>
                <span>ذخیره</span>
              </button>
              <button appCancel mat-menu-item>
                <mat-icon>cancel_presentation</mat-icon>
                <span>لغو</span>
              </button>
            </mat-menu>

          </mat-card-header>

          <mat-card-content>
            <div fxLayout="column">

              <button [disabled]="isEdit" appUserChoose class="mb-3"
                      [roles]="UserRole.USER"
                      (click)="$event.preventDefault()"
                      (userUpdated)="userPreview = $event;stFormGroup.get('user').setValue($event)"
                      mat-raised-button color="accent">
                <ng-container *ngIf="!userPreview; else skeletonUserPreview">
                  <mat-icon>account_circle</mat-icon>
                  <span>انتخاب کاربر</span>
                </ng-container>
                <ng-template #skeletonUserPreview>
                  <mat-list>
                    <mat-list-item class="text-right">
                      <img matListAvatar [src]="userPreview.image | srcImage:'user' " [alt]="userPreview.fullName">
                      <h3 matLine> {{userPreview.name}} {{userPreview.lastName}} </h3>
                      <p matLine>
                        <span> {{userPreview.phoneNumber}} </span>
                      </p>
                    </mat-list-item>
                  </mat-list>
                </ng-template>
              </button>

              <mat-form-field appearance="fill">
                <mat-label>انتخاب مهارت</mat-label>
                <mat-select formControlName="skills" multiple required>
                  <mat-optgroup *ngFor="let category of data" [label]="category.name">
                    <mat-option *ngFor="let skill of category.skills" [value]="skill.slug">
                      {{skill.name}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>

              <ng-container formGroupName="request">
                <mat-form-field appearance="fill">
                  <mat-label>متراژ تقریبی</mat-label>
                  <input matInput formControlName="approximateArea" type="number" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>آدرس</mat-label>
                  <textarea matInput formControlName="address" required></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>پلاک</mat-label>
                  <input matInput formControlName="houseNumber" type="number" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>توضیحات</mat-label>
                  <textarea matInput formControlName="description"></textarea>
                </mat-form-field>

                <mat-checkbox color="primary" formControlName="isForce">درخواست فوری</mat-checkbox>

                <mat-form-field appearance="fill">
                  <mat-label>تاریخ مراجعه</mat-label>
                  <input matInput [matDatepicker]="picker"
                         [min]="minDate" (focus)="picker.open()"
                         formControlName="serviceDate"
                         [disabled]="stFormGroup.controls['request'].value.isForce"
                         readonly required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>

              </ng-container>
            </div>

          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</div>
