<div fxLayout="column">

  <div fxLayout.lt-md="column-reverse" class="section" fxLayoutAlign="start end" fxLayoutAlign.lt-md="start stretch">

    <div fxFlex="10%"></div>

    <mat-card fxFlex="40%" fxFlex.lt-md="35%" class="mb-n4 p-4">
      <h3>{{category?.name}}</h3>
      <span class="text-justify">
        {{category?.description}}
      </span>
    </mat-card>

  </div>

  <div class="mt-5" fxLayoutAlign="center center">
    <div fxFlex="80%" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="2%" dir="rtl">

      <ng-container *ngFor="let skill of category?.skills">

        <app-skill-show
          [name]="skill.name"
          [slug]="skill.slug"
          [image]="skill.image.name"
          fxFlex="30%" class="pb-3">
        </app-skill-show>

      </ng-container>

    </div>
  </div>

</div>
