<table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ردیف. </th>
    <td mat-cell *matCellDef="let element;let i = index" class="has_label_on_mobile" data-label="ردیف."> {{i+1}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> عنوان </th>
    <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="عنوان"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> تعداد </th>
    <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="تعداد"> {{element.quantity}} </td>
  </ng-container>
  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> واحد </th>
    <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="واحد">
      <ng-container [ngSwitch]="element.unit">
        <span *ngSwitchCase="Unit.KG">کیلوگرم</span>
        <span *ngSwitchCase="Unit.PERSON">نفر</span>
      </ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> فی </th>
    <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="فی"> {{element.cost}} </td>
  </ng-container>
  <ng-container matColumnDef="costTotal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> کل </th>
    <td mat-cell *matCellDef="let element" class="has_label_on_mobile" data-label="کل"> {{element.costTotal}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="dataSource.length"
               [pageSize]="5"
                [pageSizeOptions]="[10, 20, 50, 100]"
               showFirstLastButtons></mat-paginator>
