<div fxLayout="column">

  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    class="background-form"
    style="background-image: url('assets/image/Group 2.png');">

    <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center center" class="py-4 divider">
      <form [formGroup]="stFormGroup"
            fxLayout="column"
            class="w-50"
            dir="rtl" >
        <h1 class="text-center">
          با ما در تماس باشید
        </h1>

        <mat-form-field appearance="outline">
          <mat-label>نام و نام خانوادگی</mat-label>
          <input matInput formControlName="fullName" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>شماره تلفن یا ایمیل</mat-label>
          <input matInput formControlName="contactWay" required>
        </mat-form-field>

        <div fxFlex="40%"
             fxLayoutAlign="end center">
          <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!stFormGroup.valid">
            ارسال اطلاعات
          </button>
        </div>
      </form>
    </div>

    <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center center">
      <div
      fxLayout="column"
      class="w-50 footer"
      dir="rtl">
        <div fxLayoutAlign="center center" class="w-100">
        <img src="assets/image/logo-dark.png" alt="KBR" >
        </div>
        <h2 class="text-center my-1">کارباراتا</h2>
      <span class="text-center">
        سامانه جامع خدمات مهندسی
      </span>
      </div>
    </div>

  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center" class="py-4 footer">

    <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="25%" fxFlexAlign="stretch">
      <div fxLayoutAlign="start start" class="w-100">
        <img src="assets/image/logo-dark.png" alt="KBR" class="img-fluid">
      </div>
      <div class="py-4">
       <span class="text-justify">هلدینگ مهندسی راتا گستر فعالیت خود را در زمینه
      مهندسی ساختمان، در جهت بهبود کیفیت ، امنیت
      و تسریع در زمان اتمام پروژه های شما آغاز کرده و
      آماده همکاری با تمامی شما عزیزان می باشد.
       </span>
      </div>
      <div fxLayoutAlign="space-between end" class="w-100 not-opacity">
        <a href=""><img class="img-fluid" src="assets\image\instagram.svg" alt="instagram"></a>
        <a href=""><img class="img-fluid" src="assets\image\reddit.svg" alt="reddit"></a>
        <a href=""><img class="img-fluid" src="assets\image\linkedin.svg" alt="linkedin"></a>
        <a href=""><img class="img-fluid" src="assets\image\twitter.svg" alt="twitter"></a>
        <a href=""><img class="img-fluid" src="assets\image\facebook.svg" alt="facebook"></a>
      </div>

    </div>

    <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="10%"  fxFlexAlign="stretch">

      <h2>لینک</h2>

      <ul class="list p-0 pt-2 m-0">
        <li><a href="">حریم خصوصی</a></li>
        <li><a href="">حریم خصوصی</a></li>
        <li><a href="">حریم خصوصی</a></li>
        <li><a href="">حریم خصوصی</a></li>
      </ul>

    </div>

    <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="15%"  fxFlexAlign="stretch">

      <h2>آدرس</h2>

      <ul class="list p-0 pt-2 m-0">
        <li><a href="">نبش کلاهدوز 11، پلاک 79</a></li>
        <li><a href="">حریم خصوصی</a></li>
        <li><a href="">حریم خصوصی</a></li>
        <li><a href="">حریم خصوصی</a></li>
      </ul>

    </div>


    <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="25%"  fxFlexAlign="stretch">
      <div fxFlex="35%" fxLayoutAlign="start center" fxFill ></div>

       <span class="text-justify">هلدینگ مهندسی راتا گستر فعالیت خود را در زمینه
         مهندسی ساختمان، در جهت بهبود کیفیت ، امنیت
         و تسریع در زمان اتمام پروژه های شما آغاز کرده و
         آماده همکاری با تمامی شما عزیزان می باشد.
       </span>

      <div fxLayoutAlign="space-between end" class="w-100">
        <img class="img-fluid" src="assets/image/enamad_icon__text_color_blue_1024.png" alt="enamad">
        <img class="img-fluid" src="assets/image/icon-vezarat-kar.png" alt="vezarat">
        <img class="img-fluid" src="assets/image/enamad_icon__text_color_blue_1024.png" alt="enamad">
      </div>

    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <span>کپی رایت: شرکت مهندسی راتا 2019© </span>
  </div>

</div>
