.footer{
  h2{
    margin-top: 0;
  }
  a{
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
  };
  p{opacity:0.5};
  span{opacity:0.5};

  .not-opacity{
    a{opacity: 1};
  }
}

.list{
  li{
    //margin-top: 1.6rem;
    list-style: none;
  }
}


button{

  img{
    &:hover{
      transition: 0.4s;
    }
  }

}

mat-list{
  padding: 0;

  ::ng-deep.mat-list-item-content{
    padding: 0 !important;
  }

  mat-icon{
    padding-left: 4px;
  }

}
