html, body { height: 100%; }
body { margin: 0; font-family: IRANYekan,sans-serif; }

@import '~@angular/material/theming';

$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'IRANYekan,sans-serif', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'IRANYekan,sans-serif', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'IRANYekan,sans-serif', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'IRANYekan,sans-serif', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'IRANYekan,sans-serif', 0.0000em),
  title: mat-typography-level(20px, 32px, 500, 'IRANYekan,sans-serif', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, 'IRANYekan,sans-serif', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, 'IRANYekan,sans-serif', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'IRANYekan,sans-serif', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'IRANYekan,sans-serif', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'IRANYekan,sans-serif', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'IRANYekan,sans-serif', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'IRANYekan,sans-serif', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #0d141c;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #f1d9be;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #fafafa;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#20242a, 20%);
$dark-bg-alpha-4:     rgba(#20242a, 0.04);
$dark-bg-alpha-12:    rgba(#20242a, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #20242a;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               #20242a,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config

body {
  --primary-color: #ff662b;
  --primary-lighter-color: #ffd1bf;
  --primary-darker-color: #ff491a;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
  main: #ff662b,
  lighter: #ffd1bf,
  darker: #ff491a,
  200: #ff662b, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #eff1f2;
  --accent-lighter-color: #fafbfb;
  --accent-darker-color: #e8ebec;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$dark-primary-text};
}

$mat-accent: (
  main: #eff1f2,
  lighter: #fafbfb,
  darker: #e8ebec,
  200: #eff1f2, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$mat-accent-dark: (
  main: #2b3038,
  lighter: #bfc1c3,
  darker: #1a1e24,
  200: #2b3038, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);

$theme-accent: mat-palette($mat-accent, main, lighter, darker);
$theme-accent-dark: mat-palette($mat-accent-dark, main, lighter, darker);

body {
  --warn-color: #e74c3c;
  --warn-lighter-color: #f8c9c5;
  --warn-darker-color: #dd3327;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #e74c3c,
  lighter: #f8c9c5,
  darker: #dd3327,
  200: #e74c3c, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);;

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-dark-theme($theme-primary, $theme-accent-dark, $theme-warn);

@mixin field($theme){
  $primary : map-get($theme, primary);
  $accent : map-get($theme, accent);
  .field{
    //color: mat-color($primary) !important;
    //background-color: mat-color($accent) !important;
    //padding: 15px 0 !important;
    font-size: 35px !important;
    border-style: none !important;
    border-image: none !important;
    border-width: 0 !important;
    appearance: none !important;
    outline: none !important;
  }
}

@mixin stepper($theme){
  $primary : map-get($theme, primary);
  $accent : map-get($theme, accent);

  .stepper{

    //@include mat-stepper-theme($theme);

    &__step {
      mat-hint{
        color: white !important;
      }

      //h1, h2, h3, h4, h5, h6, span{
      //}
    }


    .headline-text:before {
      display: inline-block;
      content: "";
      border-top: .15rem solid mat-color($primary);
      width: 4rem;
      margin-right: 5px;
      transform: translateY(-0.27rem);
    }

    .top-border:before {
      display: block;
      content: "";
      border-top: .15rem solid mat-color($primary);
      width: 9rem;
      margin-top: 10px;
    }

    mat-button-toggle{
      background-color: mat-color($mat-accent) !important;
      border: none !important;
    }

    img{
      //fill: red !important;
      filter: invert(1) !important;
    }

    input{
      color: mat-color($primary);
      background-color: transparent !important;
    }


    .mat-button-toggle-checked{
      border: outset mat-color($primary) !important;
      background-color: mat-color($accent) !important;
    }

  }

}

// Theme Init
@include angular-material-theme($theme);
@include stepper($theme);
@include field($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
  @include stepper($altTheme);
  @include field($altTheme);
}



// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons Round', 'Material Icons';
  .mat-badge-content {
    font-family: 'Roboto';
  }
}
//////////////////////////////

.scroll-animation{
  //background-color: #f5f5f5;
  //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
}
@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

// Define a custom mixin that takes in the current theme
@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Create theme specfic styles
  .primaryColorBG {
    background-color: mat-color($primary);
  }
  .accentColorBG {
    background-color: mat-color($accent);
  }
  .warnColorBG {
    background-color: mat-color($warn);
  }
}

@mixin mat-tabs-theme($theme){
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent );
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-ripple {
    color: mat-color($accent);
  }
};

@include mat-tabs-theme($theme);

@mixin landing-theme($theme){
  $primary: map-get($theme, primary);
  $accent : map-get($theme, accent);
  $background: map-get($mat-dark-theme-background, background);
  .landing-section{
    & .primary-bg {
      background-color: mat-color($primary);
    }
    & .accent-bg{
      background-color: mat-color($accent);
    }
    & .isDark{
      background-color: $background;
    }
    color: white;
    @media (min-width: 1920px) and (max-width: 5000px){
      height: 45rem;
    }
    @media (min-width: 1280px) and (max-width: 1919px) {
      height: 42rem;
    }
    @media (min-width: 1280px) and (max-width: 1919px) {
      height: 38rem;
    }
    @media (min-width: 960px) and (max-width: 1279px) {
      height: 35rem;
    }
    @media (min-width: 600px) and (max-width: 959px) {
      height: 35rem;
    }
    @media (max-width: 599px) {
      height: 30rem;
    }
    .border{
      border: 1.5px solid mat-color($primary);
      border-radius: 4px;
    }
    .border-vertical{
      border-left: 1.5px solid mat-color($primary);
      height: 50px;
      border-radius: 4px;
    }
    .mat-body{
      line-height: 3;
    }
  }
  @media (max-width: 599px) {
    .landing-section.accent-landing{
      height: 40rem !important;
    }
  }

}
mat-sidenav-content * {
  direction: rtl;
}

mat
.en {
  font-family: Roboto,
  "Helvetica Neue", sans-serif !important;
}

img.ng-lazyloaded {
  animation: fadein .5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
.mat-drawer {
  width: 200px;
  min-width: 200px;
}

table {
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px !important;
}

@media screen and (max-width: 960px) {
  .mat-elevation-z8 {
    background: transparent;
    box-shadow: none;
  }

  .mat-header-row {
    display: none;
  }

  tbody {
    display: block;
    width: 100%;
  }

  .mat-table {
    background: transparent;
    * {
      box-sizing: border-box;
    }

    .mat-row {
      display: block;
      overflow: hidden;
      height: auto;
      position: relative;
      clear: both;
      box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
      background-color: #303030;
      border-radius: 3px;
      + .mat-row {
        margin-top: 24px;
      }
    }

    .mat-cell {
      //display: block;
      display: flex;
      width: 100%;
      -ms-flex-align: center !important;
      align-items: center !important;
      padding: 0 16px;
      margin: 16px 0;
      border: 0 none;
      &:first-child {
        padding: 0 48px 0 16px;
        a {
          font-size: 20px;
          // font-weight: 400;
          color: inherit;
        }
        &:before {
          display: none;
        }
      }
      &.m-card-sub-title {
        margin-top: -8px;
        padding: 0 48px 0 16px;
        color: rgba(0,0,0,.54);
      }
    }

    .has_label_on_mobile {
      &:before {
        content: attr(data-label);
        display: inline;
        font-weight: normal;
        margin-left: 20px;

      }
    }

    .mat-column-star {
      width: auto;
      padding: 8px 0 0 !important;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      &:before {
        display: none;
      }
    }
  }

  .mat-paginator {
    margin-top: 24px;
  }

}

.image-fit{
  object-fit: cover;
}

*::-webkit-scrollbar{
  width: 0.2em
}
*::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.00);
}
*::-webkit-scrollbar-thumb{
  background-color: rgba(255,102,43,.5);
  outline: 1px solid slategrey;
}


@include landing-theme($theme);
.mat-menu-item{
  direction: rtl !important;
}

@mixin component-viewer-sidenav-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $nav-background-opacity: if($is-dark-theme, 0.2, 0.03);
  $nav-background-focus-opacity: if($is-dark-theme, 0.25, 0.08);

  .docs-component-viewer-nav-content {
    background: rgba(0, 0, 0, $nav-background-opacity);

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, .26);
    }

    .docs-nav-content-btn {
      color: rgba(mat-color($foreground, text), .5);

      &:focus {
        // override the default background
        background: rgba(0, 0, 0, $nav-background-focus-opacity);
      }
    }

    hr {
      border: none;
      border-top: solid 1px rgba(mat-color($foreground, secondary-text), .1)
    }

    a {
      color: mat-color($foreground, secondary-text);

      &.docs-component-viewer-sidenav-item-selected,
      &:hover {
        color: mat-color($primary, if($is-dark-theme, 200, default));
      }
    }
  }

  @media (max-width: $small-breakpoint-width) {
    .docs-component-viewer-sidenav {
      .docs-component-viewer-nav-content {
        background: none;
      }
    }

    .mat-drawer {
      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, .26);
      }
    }
  }
}
$sidenav-width: 240px;

app-component-sidenav {
  display: flex;
  flex-direction: column;
}

.docs-component-viewer-sidenav-container {
  flex: 1;
  box-sizing: border-box;
}

.docs-component-viewer-sidenav {
  overflow: auto;
}

.docs-component-sidenav-inner-content {
  display: flex;
  flex-direction: row;

  // The rule will match the element following the router-outlet which will be the routed component.
  router-outlet + * {
    flex-grow: 1;
  }
}

.mat-drawer {
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
}

.docs-component-viewer-nav {
  position: sticky;
  top: 25px;

  .docs-component-viewer-nav-content {
    margin: 25px;
    width: $sidenav-width;
    max-height: 75vh;
    overflow: auto;

    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }

    button {
      padding: 10px 15px;
      font-weight: 700;
      line-height: 16px;
      margin: 0;
      font-size: 13px;
      cursor: pointer;
      position: relative;
      display: block;
      width: 100%;
      text-align: left;
      background: none;
      border: none;

      &:focus {
        outline: none;
      }

      .mat-icon {
        position: absolute;
        right: 5px;
        font-size: 18px;
      }
    }

    hr {
      padding: 0;
      margin: 0;
    }

    ul {
      list-style-type: none;
      margin: 0 0 5px 0;
      padding: 0;
      overflow: hidden;
    }

    li {
      font-size: 13px;
      line-height: 16px;
      margin: 0;
      padding: 5px 15px 5px 20px;
    }

    a {
      display: block;
      text-decoration: none;
    }
  }
}

.docs-component-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.docs-component-sidenav-inner-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.docs-component-sidenav-body-content {
  display: flex;
  flex: 1 1 auto;
}

//@media (max-width: $small-breakpoint-width) {
//  // Add specific rule to prevent default rule conflict
//  .docs-component-viewer-sidenav-container .docs-component-viewer-sidenav {
//    // position right above the content
//    z-index: 4;
//  }
//
//  .docs-component-viewer-nav {
//    position: relative;
//    top: 0;
//
//    .docs-component-viewer-nav-content {
//      box-sizing: border-box;
//      margin: 0;
//      max-height: initial;
//    }
//  }
//}

@media (max-width: 720px) {
  .docs-component-viewer-sidenav-container {
    flex: 1 0 auto;
  }

  .docs-component-sidenav-body-content {
    flex-direction: column;
  }
}

textarea {
  resize: none !important;
}

.mat-dialog-container{
  border-radius: 15px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
